body{
  padding-left: 50px;
  margin: 50px;
  border: 50px;
}
#c{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 5px solid;
  border: 5px solid;
}
#d{
 padding-left: 10px;
 padding-top: 10px;
 border: 5px solid;
}
#e{
  padding-left: 10px;
  padding-top: 10px;
  border: 5px solid;
}